html
  head
    title= 'EMPATHY'
    link(href="/styles.css", rel="stylesheet")
  body
    each tweet in data
      .container 
        .color-container
            if tweet.tone == 'joy'
                .circle.joy
            else if tweet.tone == 'confident'
                 .circle.confident
            else if tweet.tone == 'anger'
                 .circle.anger
            else if tweet.tone == 'fear'
                 .circle.fear
            else if tweet.tone == 'tentative'
                 .circle.tentative
            else if tweet.tone == 'analytical'
                 .circle.analytical
            else if tweet.tone == 'sadness'
                 .circle.sadness
            else
                .circle.gray
        p= tweet.text
    
    .legend
        .container
            .color-container
                .circle.joy
            p= 'joy'

        .container
            .color-container
                .circle.confident
            p= 'confident' 

        .container
            .color-container
                .circle.anger
            p= 'anger'
        
        .container
            .color-container
                .circle.fear
            p= 'fear'

        .container
            .color-container
                .circle.tentative
            p= 'tentative'

        .container
            .color-container
                .circle.analytical
            p= 'analytical'

        .container
            .color-container
                .circle.sadness
            p= 'sadness'

        .container
            .color-container
                .circle.gray
            p= 'not analysed'